*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.logo{
    height: 100px;
    mix-blend-mode:darken;
}
.container{
    width:100%;
    min-height: 100vh;
    background:  linear-gradient(135deg,#9585e8,#e9e8fa);

    /* background: linear-gradient(135deg,	#9aa971,#e6eadb); */
    padding:10px;
}
.todo-app{
    margin-top: 20px;
    margin-left: 670px;
    color:white;
    text-shadow: 5px 5px 11px rgb(22, 22, 22);
    position: absolute;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;  
    margin-left: -40px;
}
.row button{
    margin-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    width:40px;
    padding:4px;
    background-color:orange;
    color:#e9e8fa;
    opacity: 0.7;
    border: 0px;
    text-shadow: 5px 5px 7px rgb(22, 22, 22);
    box-shadow: 5px 5px 8px rgb(22, 22, 22);
}
.row input{
    font-size: larger;
    border-radius: 5px;
    height:35px;
    background-color: rgb(228, 224, 224);
    text-align: center;
    border: 0px;
    box-shadow: 5px 5px 11px rgb(22, 22, 22);
}
ul li{
    list-style: none;
    margin-top:20px;
    padding-top:2px;
    margin-left:-30px;
    cursor: pointer;
    user-select:none;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 60%;
    background-image: url('uncheck.png');
    background-size: cover;
    background-position: center;
    top: 0px;
    left:-40px;
}
 ul li.checked{
color:yellow;
text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('checked.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: -4px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background-color: #edeef0;
    border-radius: 50%;
}

@media screen and (max-width:390px){
    .todo-app{
        margin-left: 85px;
    }
    .logo{
        height: 60px;
    }
}

@media screen and (max-width:600px) and (min-width:490px){
    .todo-app{
        margin-left: 220px;
    }
    .logo{
        height: 60px;
        margin-left: -2px;
    }
}
@media screen and (max-width:900px) and (min-width:600px){
    .todo-app{
        margin-left: 370px;
    }
    .logo{
        margin-left: -2px;
    }
}
@media screen and (max-width:490px) and (min-width:390px){
    .todo-app{
        margin-left: 100px;
    }
    .logo{
        margin-left: -3px;
        height: 60px;
    }
}

input[type="checkbox"]
{
cursor: pointer;
position: fixed;
}
input[type="checkbox"]:checked ~ *{
    background: linear-gradient(135deg,	#9aa971,#e6eadb);
}

.umm{
    margin-top: 20px;
    float:right;
}
